*.iso
*.lock
.*/
.*history
.AndroidStudio*/
.ICEauthority
.IdeaIC*/
.Xauthority
.adobe/
.android/
.audacity*
.bash_history
.cache
.compiz/
.config
.cpan/
.docker/
.eclipse/
.factorio/
.gconf/
.ghc/
.gimp*/
.gnome/
.gnome2/
.gnucach/
.gnupg/
.gradle/
.heroku/
.ipython/
.java/
.lein/
.lesshst
.local/
.m2/
.macromedia/
.mono/
.mozilla
.netrc/
.node-gyp/
.npm/
.p2/
.panda3d/
.password-store/
.pip/
.pki/
.pulse-cookie
.python_history
.recently-used
.ssh/*
!.ssh/*.pub
.ssh/id_*
.stack/
.steam*
.thumnails/
.thunderbird
.tuxtype/
.viminfo
.w3m/
.wine/
.wireshark/
.workrave/
.xsession-errors
.xsession-errors.old
Audiobooks/
Backups/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Videos/
dwhelper/
iso/
jackdrc/
node_modules/
opt/
proj/
tmp/
.vboxclient-*
.profile
