[user]
    name = Jonathan Paugh

[core]
    excludesfile = ~/.gitglobalignore
    pager = "less -RFX"

[diff]
    wordRegex = \\w+|[^\\w]

[color]
    ui = true

[color "diff"]
    whitespace = red reverse

[merge]
    defaulttoUpstream = true
    log = 10

[rerere]
    enabled = true

[rebase]
    autosquash = True

[gui]
    historybrowser = gitk
    editor = /usr/bin/gvim

[pack]
  threads = 0

[alias]
    a = add
    ap = add --patch
    br = branch
    cat = cat-file -p
    ci = commit --verbose
    cia = commit --verbose --all
    amend = commit --amend --verbose
    co = checkout
    pick = cherry-pick
    pickn = cherry-pick --no-commit
    d  = diff
    dc = diff --cached
    dis= diff --ignore-space-change
    dw = diff --word-diff=color
    dcw = diff --cached --word-diff=color
    ds = diff --stat
    gconfig = config --global

    ff = merge --ff-only
    mm = merge --no-ff

    l    = log --decorate --graph --oneline
    # commits since the beginning of today
    lt   = log --decorate --graph --oneline --since 00:00
    la   = log --decorate --graph --oneline --all
    lta  = log --decorate --graph --oneline --all --since 00:00
    ls   = log --decorate --graph --oneline --stat
    lst  = log --decorate --graph --oneline --stat --since 00:00
    las  = log --decorate --graph --oneline --all --stat
    lp   = log --decorate --graph --patch-with-stat
    lap  = log --decorate --graph --all --patch-with-stat
    ll   = log --decorate --graph --pretty=short --shortstat --notes
    lls  = log --decorate --graph --pretty=short --stat --notes
    llp  = log --decorate --graph --pretty=short --patch --notes
    lll  = log --decorate --graph --pretty=full --shortstat --notes
    llls = log --decorate --graph --pretty=full --stat --notes
    lllp = log --decorate --graph --pretty=full --patch --notes
    l1   = log --decorate --graph --pretty=full -1 --shortstat --notes
    l5   = log --decorate --graph --oneline -5

    # Ideal for fixups or squashes
    lfix = log -1 '--pretty=format:fixup! %s'
    lsquash = log -1 '--pretty=format:squash! %s'

    st   = status -s
    s = stash
    ss = stash save
    ssp = stash show --patch
    sl = stash list
    sa = stash apply
    sp = stash pop
    unstash = stash pop

    dcommit = svn dcommit --interactive
    vf  = svn fetch
    vr  = svn rebase
    vrl = svn rebase -l

[gui]
    historybrowser = gitk
    editor = /usr/bin/gvim

[format]
    #pretty = oneline

[log]
    abbrevCommit = true
    decorate = true

[merge]
    defaultToUpstream = true
    log = 10

[rerere]
    enabled = true
[pack]
    threads = 0

[push]
    default = upstream

[url "https://github.com/"]
    insteadOf = gh:

[url "git@github.com:jpaugh/"]
    insteadOf = jpgh:
    insteadOF = jp:

[url "git://bitbucket.org/"]
    insteadOf = bb:

[url "git@bitbucket.org:jpaugh/"]
    insteadOf = jpbb:

[url "git.debian.org/collab-maint"]
    insteadOf = deb:

[url "git://git.savannah.gnu.org/"]
    insteadOf = gnu:
    insteadOf = savannah:

[url "git://git.savannah.nongnu.org/"]
    insteadOf = nongnu:
    insteadOf = nognu:
    insteadOf = ngnu:

[url "git://git.gnome.org/"]
    insteadOf = gnome:

[url "git://repo.or.cz/"]
    insteadOf = or:
    insteadOf = repo:
    insteadOf = or.cz:

[github]
    user = jpaugh64
[rebase]
    autosquash = True
