.ICEauthority
.Xauthority
.bash_history
.cache
.mozilla
.thunderbird
tmp/
opt/
proj/
.xsession-errors
.xsession-errors.old
.eclipse/
.gconf/
.lesshst
.local/
.npm/
.config
.macromedia/
.p2/
.node-gyp/
Music/
Downloads/
.viminfo
.python_history
node_modules/
