.ICEauthority
.Xauthority
.bash_history
.cache
.mozilla
.thunderbird
tmp/
opt/
proj/
.xsession-errors
.xsession-errors.old
.eclipse/
.gconf/
.lesshst
.local/
.npm/
.config
.macromedia/
.p2/
.node-gyp/
Music/
Downloads/
.viminfo
.python_history
node_modules/
Videos/
Documents/
Desktop/
dwhelper/
iso/
.steam*
.thumnails/
.tuxtype/
.w3m/
.wine/
.wireshark/
.workrave/
Audiobooks/
Pictures/
.ssh/*
!.ssh/*.pub
.ssh/id_*
.AndroidStudio*/
.IdeaIC*/
.adobe/
.android/
.cabal/*
.compiz/
.cpan/
.docker/
.factorio/
.ghc/
.gnome/
.gnome2/
.gnucach/
.gimp*/
.gnupg/
.gradle/
.heroku/
.ipython/
jackdrc/
.java/
.lein/
.m2/
.mono/
.netrc/
*.iso
Backups/
.stack/
.pulse-cookie
.pip/
.panda3d/
.password-store/
.pki/
.recently-used
.*history
.audacity*
.*/
