snippet dsum2
	data ${1}
	        = ${2}
	        | ${3}
	    deriving (${4})
	
	${0}
snippet dsum3
	data ${1}
	        = ${2}
	        | ${3}
	        | ${4}
	    deriving (${5})
	
	${0}
snippet dsum4
	data ${1}
	        = ${2}
	        | ${3}
	        | ${4}
	        | ${5}
	    deriving (${6})
	
	${0}
